@media only screen and (max-width: 685px) {
  .reset-size {
    min-width: 500px !important;
  }
}
@media only screen and (max-width: 605px) {
  .reset-size {
    min-width: 450px !important;
  }
}
@media only screen and (max-width: 400px) {
  .reset-size {
    min-width: 400px !important;
  }
}
