.icon{
    position: absolute;
    transition: .3s;
    top:50%;
    right:2px;
    transform: translateY(-50%);
}

.dropdown-toggle{
    color: white !important;
}

.cusLog{
    border: 2px solid white !important;
}

.cusLog:hover{
    background-color: transparent !important;
    color: white !important;
    border: 2px solid white !important;
}

.form-control{
    padding-left: 1rem !important;
}