.bg-image {
  position: relative;
  background-image: url('../../public/csG.jpg');
  z-index: 0;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  z-index: -1;
}

.bg-blur{
  background-color: rgb(0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.active {
  color: white !important;
}