body {
  background-image: url("../../public/csG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(4px);

}

.bg-blur{
  background-color: rgb(0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.active {
  color: white !important;
}