@media only screen and (max-width: 768px) {
  .text-sizeCus {
    font-size: 20px !important;
  }
  .TextInp {
    font-size: 12px !important;
  }
  .smallCus{
    font-size: 13px !important;
  }
  .smallTitle{
    font-size: 17px !important;
  }
  .readTitle{
    font-size: 25px !important;
  }
  .readTitle2{
    font-size: 19px !important;
  }
}