.btnz {
  background-color: #6b65f4;
  border: 2px solid rgb(112, 84, 255) !important;
  transition: 0.3s;
}

.btnz:hover {
  background-color: transparent;
  border: 2px solid #00bef8 !important;
}

.TransBtn {
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0) !important;
}

.TransBtn:hover {
  background-color: #6f00ff;
  border: 2px solid #6b65f4 !important;
}

@media only screen and (max-width: 768px) {
  .cusBtnWidth {
    width: 11rem !important;
    height: 3.5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}