.btnz {
  background-color: #70a50d;
  border: 2px solid #70a50d !important;
  transition: 0.3s;
}

.btnz:hover {
  background-color: transparent;
  border: 2px solid #a6ff00;
}

.TransBtn {
  background-color: transparent;
  border: 2px solid rgb(252, 164, 0) !important;
  transition: 0.3s;
}

.TransBtn:hover {
  background-color: rgb(190, 146, 0);
  border: 2px solid rgb(190, 146, 0) !important;
}

.text-cus{
  background-color: #b3b3b3 !important;
}

@media only screen and (max-width: 768px) {
  .cusBtnWidth {
    width: 11rem !important;
    height: 3.5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}