.btnz {
  background-color: #73C843;
  border: 2px solid #73C843 !important;
  transition: 0.3s;
}

.btnz:hover {
  background-color: transparent;
  border: 2px solid #5eff01;
}

.TransBtn {
  background-color: transparent;
  border: 2px solid rgb(252, 164, 0) !important;
}

.TransBtn:hover {
  background-color: rgb(252, 193, 0);
  border: 2px solid rgb(252, 193, 0) !important;
}

@media only screen and (max-width: 768px) {
  .cusBtnWidth {
    width: 11rem !important;
    height: 3.5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}