.bgc-cus{
    background-image: url(../public/main-bgc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.minHeight{
    min-height: 43vh !important;
}