html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "IrSans";
}
@font-face {
  font-family: "IrSans";
  src: url(../public/IranSans.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  cursor: pointer;
}