.gradient-custom-4 {
  background: #84fab0;
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
}

.form-label{
  color: rgb(218, 218, 218) !important;
}


.Toastify__toast{
  border-radius: 10px !important;
  font-weight: bold;
  font-family: "irSans";
  font-size: 14px;
}

.cursor-pointer{
  cursor: pointer;
}

.css-ahj2mt-MuiTypography-root {
  font-family: "irSans" !important;
  font-size: 14px !important;
  color: rgb(226, 226, 226) !important;
}

.MuiButtonBase-root{
  padding:0 0 0 9px !important;
}

.text-uppercase{
  color: rgb(190, 215, 236);
}

.smallCus{
  color: rgb(190, 190, 190);
}